.pyrrhic-half {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.header-logo {
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

.events-div {
    font-color:white;
    width:100%;
    background-color:black;
    overflow-x: auto;
    white-space:nowrap;
}

.staff {
    text-align: center;

}

body.eventshome {
    text-align:center;
    background-image:url(static/images/Events.jpg);

}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}


