<!-- Footer -->
			<div class="main-footer-wrapper pfooter">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-20 col-lg-offset-2">
							<div class="row">
								<div class="col-md-7">
									<div class="widget widget_about">
										<img class = "pyrrhicbrand pbrandfootermobile" src="img/{{ plogo }}" alt="site brand" />

										
										</div>
								</div>

								<div class="col-md-3">
									<div class="widget widget_links pfooterpadding">
									
										<ul>
											<li><a href="index.html">HOME</a></li>
											<li><a href="about.html">ABOUT</a></li>
											<li><a href="https://www.instagram.com/pyrrhicproductions/">INSTAGRAM</a></li>
											<li><a href="contact.html">CONTACT</a></li>
										</ul>
									</div>
								</div>

								<div class="col-md-8">
									<div class="widget widget_news pfooterpadding">
										We are Jersey City's premier video production company, a subsidiary of <b>Arts on the Hudson</b>. Work with us on your next music video or promotional material. 										
									</div>
								</div>

								<div class="col-md-6">
									<div class="widget widget_subscribe pfooterpadding">
											CONTACT US
										<ul class="clean-list contact-info">
											<li class="mail"><a href="contact.html">film@pyrrhicproductions.com</a></li>
										</ul>
											
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
        {% block foot %} {% endblock %}
