	<header class="main-header pmenu">
				<!-- Mobile Brand -->
				<a href="index.html" class="mobile-brand">
					<img src="img/{ plogo }" class = "pyrrhicbrand" alt="site identity" />
				</a>

				<nav>
					<!-- Menu Items -->
					<ul>
						<li class = 'pmenutext'>
							<a class = 'pmenutext' href="about.html">About</a>
						</li>
						<li class="pmenutext">
							<a class = 'pmenutext' href="#">Portfolio</a>
													<li class="brand-holder">
							<a class = 'pmenutext' href="index.html">
								<img src="img/newPyrrhicLogo.png" class = 'pyrrhicbrand' alt="site identity" />
							</a>
						</li>
						<li class="pmenutext">
							<a class = 'pmenutext' href="https://www.instagram.com/pyrrhicproductions/" target ="_blank">Instagram</a>
						</li>
						<li> 
							<a class = 'pmenutext' href="contact.html">Contact</a>
						</li>
					</ul>

					<!-- Mobile Nav Toggle -->
					<span class="mobile-navigation-toggle">
						<span class="icon">
							<i class="line"></i>
							<i class="line"></i>
							<i class="line"></i>
						</span>

						<span class="menu-toggle-title">Menu</span>
					</span>

				</nav>
			</header>

		{% block header %}
		{% endblock %}

		

        
        