{%extends "base.html" %}
  {% block head %} 

			<!-- Main Content -->
			<div class="content-wrapper">
					
				<!-- Main Slider -->
				<div class="main-slider tt-slider phome pslider" data-fade="true" data-speed="850" data-dots="false" data-arrows="false" data-infinite="true">
					<div class="intro-box-inner container">
					</div>	
				</div>
			</div>


<!-- Portfolio Items -->
<section class="section section-portfolio">
		<div class="section-title container align-center">
			<img src = 'img/vidProdJcNj2.jpg' class = 'pjcnj'>
		</div>
<div class="row row-fit">
		<div class="col-sm-12 col-md-6">
			<div class="portfolio-item">
				<div class="hover-effect">
					<div class="effect-inner">
						<a href="portfolio-item.html">
							<i class="icon"></i>
							<span class="project-link">View project</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="portfolio-wrapper">
				<div class="row row-fit isotope-container psectionportfolio" data-default-selection="*">
					{% for work in homeWork %}
					<div class="col-sm-12 col-md-8 isotope-item photography pportfoliomobile">
						<div class="portfolio-box">
							<div class="box-cover">
								<div class="box-info">
										<h4 class="portfolio-item-title">{{ work[1] }}</h4>
		
										<ul class="clean-list portfolio-item-categories">
												<li>{{ work[2] }}</li>
										</ul>
									</div>
								<a href="{{ work[1] }}.html"	>
									<img class = 'pshowcase' src="img/{{ work[3] }}" >
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	

			<!-- Showcase Section -->
			<section class="section section-showcase">
				<div class="container-fluid pcontainer-fluid">
					<div class="row">
						<div class="col-lg-20 col-lg-offset-2">
							<div class="row showcase-container-wrapper pshowcasemobile">
								<div class="col-sm-12 showcase-text-wrapper left ptextboxwrapper">
									<div class="showcase-textbox align-center ptextbox">
										<img src = 'img/vidProdJCWay.png'>
											<a href="contact.html" class="btn template-btn-1"><h4> Hit us up</h4></a>
									</div>
								</div>

								<div class="col-sm-12 col-sm-offset-12">
									<div class="showcase-image-wrapper ptextbox">
										<img src="img/blerryCar.jpg" alt="showcase image" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		<!-- Footer -->
			<footer>
				{% include "footer.html" %}
				{% block foot %} {% endblock %}
			</footer>
		</div>
	</div>

	<!-- Scripts -->
	<script src="js/vendors/jquery.js"></script>
	<script src="js/vendors/modernizr.js"></script>
	<script src="js/vendors/smooth-scroll.js"></script>
	<script src="js/vendors/slick.js"></script>
	<script src="js/vendors/imagesloaded.js"></script>
	<script src="js/vendors/isotope.js"></script>
	<script src="js/vendors/velocity.js"></script>
	<script src="js/vendors/instagram.js"></script>
	<script src="js/vendors/nouislider.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="js/options.js"></script>
</body>
{% endblock %}
</html>